keyboard==0.13.5
paddleocr==2.8.1
paddlepaddle==3.0.0b0
Pillow==10.4.0
watchdog==5.0.0
shapely
scikit-image
imgaug
pyclipper
lmdb
tqdm
numpy<2.0
rapidfuzz
opencv-python
opencv-contrib-python
cython
Pillow
pyyaml
requests
albumentations==1.4.10
setuptools
pyautogui==0.9.54
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pyparsing==3.1.2
